body {
  font: normal 20px "PT Sans", Helvetica, Arial, sans-serif;
  color: #3f3f3f;
  background: #ffffff; 
}

.flash {
  padding: 10px;
  background: #ffff99;
}

form.inline {
  display: inline;
}

p.user-status {
  font-style: italic;
  font-size: 0.9em;
}

.playlist-item {
  width: 30px;
  height: 30px;
}
